ol {
    text-align: center;
    
    color: #ba9d32;
}
#timeCircle {
    background-color: #65b53a;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
}
#timer {
    padding-top: 90px;
    font-size: 20pt;
    font-weight: bold;
}
.btn {
    width: 100px;
    padding: 10px;
    background-color: #413c91;
    color: white;
}
.btn-start{
    width: 204px;
}
.btnList {
    margin-top: 10px;
}
main {
    max-width: 210px;;
}
h1 {
    text-align: center;
    color: #d0b243;
}
body{
    font-size: 14pt;
    
}
